<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sbtp.mapper.BookMapper">
    <select id="getBookList" resultType="Book">
        SELECT * FROM book;
    </select>
    <insert id="submitBook" parameterType="String">
        INSERT into submitbookrecord VALUES(#{0}, #{1}, #{2}, #{3}, #{4});
    </insert>
    <select id="getBookInfoById" parameterType="int">
        SELECT * FROM book WHERE id = #{0};
    </select>
</mapper>