<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sbtp.mapper.ImpressionMapper">
    <insert id="addImpression">
        INSERT into impression(content, releaseTime, rate, userId, bookId) VALUES (#{0}, #{1}, #{2}, #{3}, #{4});
    </insert>
    <select id="getImpressionList" resultType="Impression" parameterType="int">
        SELECT * FROM impression where bookId = #{0};
    </select>
    <select id="getUserNameByImpressionId" resultType="String">
        SELECT name FROM user where id = (SELECT userId from impression where id = #{0});
    </select>
    <select id="getImpressionById" resultType="Impression">
        SELECT * from impression where id = #{0};
    </select>
    <select id="getRecentImpressionList" resultType="Impression" parameterType="int">
        SELECT * FROM impression where bookId = #{0} ORDER BY releaseTime DESC limit 0,3;
    </select>
</mapper>