<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sbtp.mapper.UserMapper">
    <select id="getUsers" resultType="User">
        SELECT * from user;
    </select>
    <select id="getUserInfo" resultType="User">
        SELECT * FROM user where id = #{0};
    </select>
    <select id="getSubmitUserList" resultType="User" parameterType="int">
        SELECT * FROM user WHERE id in (SELECT userId from submitbookrecord WHERE bookId = #{0});
    </select>
</mapper>